<head>
  <title>Start mafia game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <br/></br><br>
  <div class="container">
     <div class="row">
        <div class="col-md-2 col-md-offset-5">
           {{renderPage}}
        </div>
     </div>
  </div>
</body>


<template name="initial">
      <a class="btn btn-info btn-lg btn-block" href="/start" >START</a>
      <br>
      <a class="btn btn-primary btn-lg btn-block" href="/code" >JOIN</a>
</template>


<template name="start">
  <h2>Amount and types:</h2>
  <br>
    <fieldset>
    <div>
      <label for="citizens">Citizens: </label>
      <input type="text" class="form-control input-lg" id="citizens", value="3">
    </div>
    <div>
      <label for="mafias">Mafias: </label>
      <input type="text" class="form-control input-lg" id="mafias" value="1">
    </div>
    <div>
      <label for="doctors">Doctors: </label>
      <input type="text" class="form-control input-lg" id="doctors" value="0">
    </div>
    <div>
      <label for="sheriffs">Sheriffs: </label>
      <input type="text" class="form-control input-lg" id="sheriffs" value="0">
    </div>
     <br>
     <input class="btn btn-success btn-lg btn-block" type="button" id="begin" value="BEGIN" />
    </fieldset>
</template>


<template name="game_code">
    <center>
      {{#if $.Session.get 'form_error'}}
            <div class="alert alert-danger">{{ $.Session.get 'form_error' }}</div>
      {{/if}}

      {{#if $.Session.get 'game_code' }}
           <label for="PlayersNumber">curent game code</label>
           <div class="jumbotron">
              <h1>{{ $.Session.get 'game_code' }}</h1>
           </div>
      {{else}}
              <label for="PlayersNumber">Code </label>
              <input type="text" class="form-control input-lg" id="game_code">
      {{/if}}
      <br>
      {{#if $.Session.get 'player_name' }}
          <h2>Your name<b>{{ $.Session.get 'player_name' }}</b></h2>
      {{else}}
          <label for="PlayersNumber">Your Name </label>
          <input type="text" class="form-control input-lg" id="player_name">
      {{/if}}
      <br><br>
      <a class="btn btn-primary btn-lg btn-block" id="join">JOIN</a>
    </center>
</template>


<template name="game">
   {{#if $eq game.game_state 'waiting' }}
       {{> waiting }}
   {{/if}}
   {{#if $eq game.game_state 'card' }}
       {{> card }}
   {{/if}}
   {{#if $eq game.game_state 'vote' }}
       {{> vote }}
   {{/if}}
   {{#if $eq game.game_state 'night' }}
       {{> night }}
   {{/if}}
   {{#if $eq game.game_state 'results' }}
       {{> results }}
   {{/if}}
</template>


<template name="waiting">
     <h3>Game code: <code> {{$.Session.get 'game_code'}} </code></h3>
     <h3>Number of people: <span class="label label-success"> {{players.count}} </span></h3>
     <h3>People joined:</h3>
      {{#each players}}
        {{> one_person}}
      {{/each}}
</template>


<template name="one_person">
  <h1><span class="label label-info">{{name}}</span></h1>
</template>

<template name="card">
  <center>

    <a class="btn btn-primary btn-lg" id="show_hide"> 
      {{#if $.Session.get 'show_card' }} Hide my card {{else}} Show my card{{/if}}
    </a> &nbsp;&nbsp;
    <a class="btn btn-success btn-lg" {{#if player.ready_vote }} style="color: black; box-shadow: inset black 0 -3px 0 0;" {{/if}} id="vote">
      Ready to Vote
    </a>&nbsp;&nbsp;
    <a class="btn btn-warning btn-lg" {{#if player.ready_night }} style="color: black; box-shadow: inset black 0 -3px 0 0;" {{/if}} id="night">
      Ready for Night
    </a>
  </center>
    <br>
  <br>
  <br>
  {{#if $.Session.get 'show_card' }}
    {{#if $eq player.role 'doctor'}}
      {{> doctor }}
    {{/if}}
    {{#if $eq player.role 'citizen'}}
      {{> citizen }}
    {{/if}}
    {{#if $eq player.role 'mafia'}}
      {{> mafia }}
    {{/if}}
    {{#if $eq player.role 'sheriff'}}
      {{> sheriff }}
    {{/if}}
  {{else}}
     {{> closed_card }}
  {{/if}}
</template>

<template name="vote">
  <h3>Choose one person who do your suspect: <h3>
    <table class="table">
           {{#each people_for_vote}}
            {{> choose_person}}
          {{/each}}
    </table>
</template>

<template name="night">
  <h3>Choose one person who do your suspect: <h3>
      {{#each people_for_vote}}
        {{> choose_person}}
      {{/each}}
</template>

<template name="choose_person">
          <tr>
            <td>
              <h1><a class="btn btn-success btn-lg person" {{#if $eq person.vote.person_id _id }} style="color: black; box-shadow: inset black 0 -3px 0 0;" {{/if}} id="{{_id}}">{{name}}</a></h1>
            </td>
            <td>
              {{#each voters_list}}
                  <span class="label label-warning">{{this}}</span>
              {{/each}}
            </td>
          </tr>
</template>

<template name="results">
   {{#if player.alive }}
      <h3>Citi choose to kill:</h3>
      <br>
      <h2><code> {{killed_now_person.name}} </code></h2>
   {{else}}
      <h1><span class="label black">You Are Killed</span></h1>
   {{/if}}

  <h1>RESULTS</h1>
</template>

<template name="mafia">
  <center><h1><span class="label card" style="background-color: black;">MAFIA</span></h1></center>
</template>

<template name="citizen">
  <center><h1><span class="label card label-danger">CITIZEN</span></h1></center>
</template>

<template name="doctor">
  <center><h1><span class="label card label-warning">DOCTOR</span></h1></center>
</template>

<template name="sheriff">
  <center><h1><span class="label card label-info">SHERIFF</span></h1></center>
</template>

<template name="nocard">
  <center><h1><span class="label card">NO CARD</span></h1></center>
</template>

<template name="closed_card">
  <center><h1><span class="label card label-default">CARD</span></h1></center>
</template>













